@tailwind base;
:root {
    --color-gray: #f2f2f2;
    --color-med-gray: #d9d9d9;
    --color-dark-gray: #6b6b6b;
    --color-gold: #e8c39c;
    --color-light: white;
    --color-dark: #1e1e1e;

    --bg-base: var(--color-gray);
    --color-base: var(--color-dark-gray);

    color: var(--color-base);
}

h2 {
    @apply text-gray-800 mb-6;
    font-size: 1.25rem;
    font-family: "Kumar One", display;

    @screen md {
        font-size: 2rem;
    }
}

h3 {
    @apply text-gray-800 mb-3;
    font-size: 1.125rem;
    font-family: "Kumar One", display;
}

h4 {
    @apply text-gray-800 font-black text-lg;
}

@tailwind components;
.container {
    max-width: 895px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;

    @screen lg {
        padding-left: unset;
        padding-right: unset;
    }
}

.btn-primary {
    @apply inline-block text-gray-800 bg-[var(--color-gold)] hover:brightness-90 px-5 py-3 transition duration-300;
}

input,
select {
    @apply h-[60px];
}

input,
select,
textarea {
    @apply bg-white px-[26px] py-[17px] transition duration-300 border border-transparent appearance-none;
    @apply hover:border-b-gray-800;
    @apply focus:outline-none focus:border-yellow-500;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1),
        0px 7px 7px 0px rgba(0, 0, 0, 0.09),
        0px 16px 10px 0px rgba(0, 0, 0, 0.05),
        0px 29px 12px 0px rgba(0, 0, 0, 0.01),
        0px 45px 13px 0px rgba(0, 0, 0, 0);
}

select {
    background-image: url(/images/icon-chevron-down.svg);
    background-repeat: no-repeat;
    background-position: right 26px center;
}

@tailwind utilities;
